@using Jonghor.Models
@using Jonghor.ViewModel
@model DormViewModel

<!DOCTYPE html>
<html>
<style>
    /* Full-width input fields */
    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    /* Set a style for all buttons */
    button {
        background-color: #FF8000;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #f44336;
    }

    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }

    img.avatar {
        width: 40%;
    }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }

    /* Modal Content/Box */
    .modal-content {
        background-color: #fefefe;
        margin: auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        width: 25%; /* Could be more or less, depending on screen size */
    }

    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: red;
            cursor: pointer;
        }

    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s;
    }

    /*Background*/

    body {
        background-color: White;
    }

    input[type=submit] {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 14px 30px;
        text-decoration: none;
        margin: 4px 2px;
        cursor: pointer;
    }

        .dormPic {
        
        width: 100%;
        height: 200px;
        }

       .dormDetail {
        
         text-align:right;
        }
</style>
<body>

    <h2>
        <center>ค้นหา</center>
        
    </h2>

    <center>
        
        <form>
            Search Dorm:
            <input type="text" name="Dormsearch"
                   style=" width: 25%;
                   box-sizing: border-box;
                   border 2px solid: #ccc;
                   border-radius: 4px;
                   font-size: 16px;
                   background-color: white;
                   background-image: url('http://www.freeiconspng.com/uploads/search-icon-png-0.png');
                   background-size: 5%;
                   background-position: 10px 10px;
                   background-repeat: no-repeat;
                   padding: 10px 20px 12px 40px;">

            <select name="Dormoption"
                    style=" width: 13%;
                   font-size: 16px;
                   background-color: white;
                   background-repeat: no-repeat;
                   padding: 8px 5px 12px 15px;">

                <option value="pricemax">ราคามากไปน้อย </option>
                <option value="pricemin">ราคาน้อยไปมาก</option>
                <option value="near">บริเวณใกล้เคียง</option>

            </select>

            <input type="submit" value="Search">



        </form>

        <div id="id01" class="modal">

            <form class="modal-content animate" action="action_page.php">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <img src="http://visualoop.com/wp-content/themes/visualoop/img/there-is-no-picture-for-this-user2.png" alt="Avatar" class="avatar">
                </div>

                <div class="container">
                    <label><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>

                    <label><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>

                    <button type="submit">Login</button>
                    <input type="checkbox" checked="checked"> Remember me
                </div>

                <div class="container" style="background-color:#f1f1f1">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </form>
        </div>


        <div><br/>
            <table style="width:50%; ">

                @foreach (Dorm val in Model.GetDormList())
                    {

                    <tr>
                        <td style="width:30%; border:solid; ">
                            <a href="google.com"><img class="dormPic" src="https://images1-focus-opensocial.googleusercontent.com/gadgets/proxy?url=https%3A%2F%2Fmedia-cdn.tripadvisor.com%2Fmedia%2Fvr-splice-j%2F02%2Fba%2Ff2%2F29.jpg&container=focus&resize_w=700&refresh=31536000&no_expand=1&rewriteMime=image/*"></a>
                        </td>
                        <td style="width:60%; padding:30px; border:solid ">
                            <font class="dormDetail">@val.Name</font><br />
                            <font class="dormDetail">1000-10000 บาท</font>
                        </td>

                    </tr>
                   }

              
            </table>
        </div>

    </center>

            <script>
                // Get the modal
                var modal = document.getElementById('id01');

                // When the user clicks anywhere outside of the modal, close it
                window.onclick = function (event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
            </script>

</body>



</html>
