
<!DOCTYPE html>
<html>
<style>
h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
.photo_1{
	margin:auto;
	width: 50% 500px;
	height:50% 500px;
}
button {
    background-color: #FF8000;
    color: white;
    padding: 25px 40px;
    margin: 10px 20px ;
    border: none;
    cursor: pointer;
    width: 100%;

}
</style>
<head>
	<h1>V.K.<font color="Black">Dorm</font></h1>	
</head>

<body>
	<center><img class="photo_1" src="http://insights.wsp-pb.com/images/articles/225/img_super_zero_net_weber_dorm_energy_md.jpg"><br>
	<button onclick="" style="width:250px; height:75px; float:center;">ROOM MANAGEMENT</button>
	<button onclick="" style="width:250px; height:75px; float:center;">MESSAGE</button><br>
	<button onclick="" style="width:250px; height:75px; float:center;">FEEDBACK</button>
	<button onclick="" style="width:250px; height:75px; float:center;">EDIT</button>
	</center>
	
</body>
</html>