<!DOCTYPE html>
@{
    Layout = "~/views/shared/_layout.cshtml";
}

<html>
<style>
	h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
.photo_1{
	margin:auto;
	width: 50% 500px;
	height:50% 500px;
}
.b {
    background-color: #FF8000;
    color: white;
    padding: 10px;
    margin: 10px 20px ;
    border: none;
    cursor: pointer;
    width: auto;
}
</style>
<article>

<Body>
<h1>
	Dorm
</h1>

        <div>
            <form action="/Dorm/Edit" method="post">
                Dorm name:<input type="text" name="Name" required> <br></br>
                Description:<input type="text" name="information"></br></br>
                Price per month:<input type="text" name="BahtPerMonth">Bath/month</br></br>
                Price per day:<input type="text" name="BahtPerDay">Bath/day</br></br>
                Bail:<input type="text" name="Deposit">Bath<br></br>
                Electric's cost/Month:<input type="text" name="E_Per_Unit">Bath/Unit</br></br>
                Water's cost/Month:<input type="text" name="W_Per_Unit">Bath/Unit</br></br>
                Internet cost:<input type="text" name="Internet"> </br></br>
			    
                <form action="">
                    url:<input type="text" name="url_picture0">
                    url:<input type="text" name="url_picture0">
                    url:<input type="text" name="url_picture0">
                    url:<input type="text" name="url_picture0">
                    url:<input type="text" name="url_picture0">
                    <button class="c" type="submit">Send</button>
                </form>

                <button class="b" type="submit">Submit</button>   
            </form>
        </div>




</Body>

</article>
</html>