<html>
<style>
h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
</style>
<head>
	<center><h1>MESSAGE</h1></center>	
</head>

<body>

<form>
  <center><input type="checkbox" name="dest1" value="Bike">All Room 
  <input type="checkbox" name="dest2" value="Car">Select Room</center>
</form>
<center>
<form>
  Subject:
  <input type="text" name="subject" size="50"><br>
  Message:
  <textarea rows="4" cols="50" name="message"> </textarea><br>
  <input type="submit" name="submit" value="Sent">
</form>
</center>
</body>

</html>
