<!DOCTYPE html>
<html>

<style>
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #FF8000;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.registerbtn{
	 width: 100%;
	 color: Red;
	 text-decoration: underline;
    padding: 14px 20px;
    background-color: #FFFFFF;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
   
}

.container {
    padding: 14px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	padding-top:5px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

/*Background*/

body {
    background-color: White;
}

input[type=submit]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

/* User layout */
div.container {
    
}

section{
    padding: 1em;
    color: white;
    background-color: Orange;
    clear: left;
    text-align: center;
}
footer {
    padding: 1em;
    color: white;
    background-color: #FFB529;
    text-align: right;
	
	clear: both;
    position: relative;
    z-index: 10;
    margin-top: -3em;
	
	
}


nav {

	height:auto;
	bottom:0;
	top:0;
    float: right;
    max-width: 15%;
    margin: 5px 0px;
    padding: 1em;
	background-color : #FFCD90;

}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    overflow: hidden;
}
.user_photo{
    width: 100%;
    height: 100%;
	margin: 10px 0;
}
.user_info_header{
	text-align:left;
	font-size:25px;
	color:#FF6F00;
	font-weight:bold;

}
.user_info{
	text-align:left;
	font-size:20px;
	color:#FFFFFF;
	margin:5px 0;
}

</style>
<article>
<form name="Regis" class="modal-content animate" action="/Register/CreateUser" method="post">


<div class="container">

    <label><b>Username</b><font color="red">*</font></label>
    <input type="text" placeholder="username" name="Username" required>
    @Html.ValidationMessage("CredentialError", new { style = "color:red;" })
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    </br>

    <label><b>Password</b><font color="red" font-size="1px">* (upper than 6 characters)</font></label>
    <input type="password" pattern=".{6,}" placeholder="password" name="Password" required title="Password more than 6 characters">

    <label><b>FirstName</b><font color="red">*</font></label>
    <input type="text" placeholder="Enter FirstName" name="Name" required>

    <label><b>LastName</b><font color="red">*</font></label>
    <input type="text" placeholder="Enter LastName" name="Surname" required>

    <label><b>Gender</b></label><br>
  
        <input type="radio" name="Sex" value="0" checked>Male<br>
        <input type="radio" name="Sex" value="1" >Female<br>
    
    <label><b>SSID</b><font color="red">*</font></label>
    <input type="text" name="Ssn" maxlength="13" required>

    <label><b>Phone Number</b></label>
    <input type="text" name="Phone" maxlength="10" required>

    <button type="submit">Submit</button>

</div>
</form>
    </article>
</html>
