@using Jonghor.Models;
@using Jonghor.ViewModel;

<html>
<style>
    h1 {
        text-align: center;
        font-size: 30px;
        color: Orange;
        font-weight: bold;
    }

    h2 {
        color: white;
        font-size: 20px;
    }
</style>
<head>
    <center><h1>MESSAGE</h1></center>
</head>

<article>
    <h2>
        <form action="@Url.Action("Checkbox", "Chat")" style="color:black;">
            <center>
                <input type="checkbox" name="checkblock" value="AllRoom">All Room
                <input type="checkbox" name="checkblock" value="SelectRoom">Select Room<br>
                Room NO.
                <style type="text/css">
                    input[type="text"] {
                        align-content: flex-start;
                        border: 1px solid orange;
                        width: 400px;
                        background: white;
                    }
                </style>
                <input type="text" name="receiver" size="5">
            </center>

            <center>
                Subject:
                <input type="text" name="subject" size="50"><br>
                Message:
                <textarea rows="4" cols="50" name="message" style="background:white; border: 1px solid orange;"> </textarea><br>
                @{
                    string txt = "";
                    int action = 0;

                    try
                    {
                        action = int.Parse(Request.QueryString["action"]);

                    }
                    catch { }


                    if (action == 1)
                    {
                        txt = "Sent Commmm";

                    }
                } @txt
                <input type="submit" name="submit" value="Sent">

            </center>
    </h2>
    </form>

</article>

</html>