@using Jonghor.Models;
@using Jonghor.ViewModel;

<html>
<style>
h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
</style>
<head>
	<center><h1>MESSAGE</h1></center>	
</head>

<article>

<form action="@Url.Action("Checkbox", "Chat")">
  <center><input type="checkbox" name="checkblock" value="AllRoom">All Room 
  <input type="checkbox" name="checkblock" value="SelectRoom" >Select Room<br>
      Room NO.<style type="text/css">
          input[type="text"] {
              align-content:flex-start;
              border: 1px solid black;
              width : 400px;
              background: transparent;
          }
      </style>
      <input type="text" name="receiver" size="5">
    </center>

<center>

  Subject:
  <input type="text" name="subject" size="50"><br>
  Message:
  <textarea rows="4" cols="50" name="message"> </textarea><br>
    @{ 
        string txt = "";
        int action = 0;

        try {
              action = int.Parse(Request.QueryString["action"]);

        } catch { }


        if( action == 1)
        {
            txt = "Sent Commmm";

        }
    } @txt
  <input type="submit" name="submit" value="Sent">
</center>
</form>

</article>

</html>
