<!DOCTYPE html>
<html>
<style>
	h1{
	text-align:center;
	font-size:30px;
	color:Orange;
	font-weight:bold;
}
.photo_1{
	margin:auto;
	width: 50% 500px;
	height:50% 500px;
}
button {
    background-color: #FF8000;
    color: white;
    padding: 10px;
    margin: 10px 20px ;
    border: none;
    cursor: pointer;
    width: auto;

}
</style>
<Body>
<h1>
	Dorm
</h1>
	  Dorm name:<input type="text" name="Dormname"> Bath/month</br></br>
	  Price:<input type="text" name="Price">Bath</br></br>
	  Description:<input type="text" name="Description"></br></br>
		Price per month:<input type="text" name="Dormname">Bath/month</br></br>
		  Price per day:<input type="text" name="Dormname">Bath/day</br></br>
			Bail:<input type="text" name="Dormname">Bath</br></br>
		   Electric's cost/Month:<input type="text" name="Dormname">Bath/Unit</br></br>
			Water's cost/Month:<input type="text" name="Dormname">Bath/Unit</br></br>
			  Inernet cost:<input type="text" name="Dormname"></br></br>
			  
<button type="submit">Submit</button>   
</Body>
</html>