<!DOCTYPE html>
@using Jonghor.ViewModel
@model RoomListViewModel
<html>
<style>
    h1 {
        text-align: center;
        font-size: 30px;
        color: Orange;
        font-weight: bold;
    }

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 90%;
        padding:50px
        
    }

    td, th {
        border: 2px solid #dddddd;
        text-align: left;
        padding: 20px;
    }


    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>
<article>
 
        <center><h1>Room Management</h1></center>
         <form action="/Dorm/Roomsort" method="post">
             <center>
                 <select name="option" onchange="this.form.submit()">
                     <option value="Avaliable">Avaliable Rooms</option>
                     <option value="Wait">Wait Roommate Rooms</option>
                     <option value="Not">Not Avaliable Rooms</option>
                     <option value="All" select>All Rooms</option>
                     <option value="Reserved" select>Reserved Rooms</option>
                 </select>
             </center>
            

         </form>
           
    

   
        <center>
            <table>
                <tr>
                    <th width="10px"><center>Room Number</center></th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Person Reserve</th>
                    <th>Response</th>
                </tr>
                @foreach (RoomViewModel item in Model.Rooms)
                {
                    <tr>
                        <td>@item.RoomNo</td>
                        <td>
                            @foreach (string name in item.PeopleNames)
                            {
                                @name <br />                       
                            }
                        </td>
                        <td>@item.Status</td>
                        <td></td>
                        <td><center>
                            @if (item.Status == Status.Reserved.ToString())
                            {
                                <form action="/Dorm/AcceptReservedRoom">
                                    <button name="room_id" type="submit" value="@item.Room_ID" style="width:auto;">Accept</button>
                                    </form>
                                    <form action="/Dorm/DeclineReservedRoom">
                                        <button name="room_id" type="submit" value="@item.Room_ID" style="width:auto;">Decline</button>
                                    </form>
                            }
                            </center>
                        </td>
                    </tr>
                }


            </table>
        </center>

       
</article>
</html>

