<!DOCTYPE html>
@{
    Layout = "~/views/shared/_layout.cshtml";
}

<html>

<style>
    h1 {
        text-align: center;
        font-size: 30px;
        color: Orange;
        font-weight: bold;
    }

    .photo_1 {
        margin: auto;
        width: 50% 500px;
        height: 50% 499px;
    }

    .b {
        background-color: #FF8000;
        color: white;
        padding: 10px;
        margin: 10px 20px;
        border: none;
        cursor: pointer;
        width: auto;
    }
</style>
<article>

    <Body>
        <h1>
            User
        </h1>

        <div>
            <form action="/User/UserDetail" method="post">
                
                Name:<input type="text" name="Namse" required> <br></br>
                Surname:<input type="text" name="Surname" required></br></br>
                identification card:<input type="text" name="Ssn"><font color="red" required>
                **** 13-character ; case sensitive</font></br></br>
                                                 
               
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
                <div>
                    Sex:
                    <label>
                        <input type="checkbox" class="radio" value="1" name="Sex[1][]" />Male
                    </label>
                    <label>
                        <input type="checkbox" class="radio" value="1" name="Sex[1][]" />Female
                    </label>
                </div>   
                <script>
                    // the selector will match all input controls of type :checkbox
                    // and attach a click event handler
                    $("input:checkbox").on('click', function () {
                        // in the handler, 'this' refers to the box clicked on
                        var $box = $(this);
                        if ($box.is(":checked")) {
                            // the name of the box is retrieved using the .attr() method
                            // as it is assumed and expected to be immutable
                            var group = "input:checkbox[name='" + $box.attr("name") + "']";
                            // the checked state of the group/box on the other hand will change
                            // and the current value is retrieved using .prop() method
                            $(group).prop("checked", false);
                            $box.prop("checked", true);
                        } else {
                            $box.prop("checked", false);
                        }

                    });
                </script>               
                    <br><br>

                    Dorm Name:<input type="text" name="DormName" required><br></br>
                    Phone:<input type="text" name="Phone"></br><font color="grey">10-character</font></br></br>
                    Username:<input type="text" name="Username" required></br></br>
                    Password:<input type="password" name="password"><font color="grey">
                        6-character minimum; case sensitive
                    </font></br></br>

                    <button class="b" type="submit">Submit</button>
</form>
        </div>




    </Body>

</article>
</html>